
@font-face {
    font-family: Japanese2020;
    src: url(../fonts/JAPANESE_2020.otf);
}

@font-face {
    font-family: OldJapanese;
    src: url(../fonts/Old\ Japanese.otf);
}

@font-face {
    font-family: JerseySharp;
    src: url(../fonts/Jersey\ Sharp.ttf);
}



/* NavBar */
.navTitle{
    font-family: OldJapanese;
    color:#fe0000 !important;
    font-size: xx-large;
}

.nav-link{
    font-family: Japanese2020;
    color:#fe0000 !important;
    font-size: large;
}

.view {
    background: url("../img/JDM-Dragon-2.png")no-repeat center center;
    background-size: cover;
}
.navbar {
    background-color: black;
}

.top-nav-collapse {
    background-color: black;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: black;
    }
}

html,
body,
header,
.view {
  height: 100%;
}

/*Cars*/
body {
    background-color: #383838;
    background: url("../img/SVG/CarsDragon.svg") no-repeat center;
    background-size: 300px;
    background-color: #383838;
}

.mainTitle{
    font-family: Japanese2020;
    color: white;
    margin-top: 100px;
    margin-bottom: 30px;    
    text-align: center;
}

.mainTitle{
    vertical-align: text-top;
}

.card{
    background-color: #040404;
    height: 400px;
    z-index: 1;
    margin-bottom: 30px;
}

.cardtitle{
    font-family: JerseySharp;
    padding: auto;
    font-size: 30px;
    height: 84px;
    line-height: 84px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.cardimg{
    object-fit: cover;
    height: 325px;
    width: 100%;
}

.row-bottom{
    padding-bottom: 10px;
}