/* Fonts */
@font-face {
    font-family: Japanese2020;
    src: url(../fonts/JAPANESE_2020.otf);
}

@font-face {
    font-family: OldJapanese;
    src: url(../fonts/Old\ Japanese.otf);
}

@font-face {
    font-family: Brushido;
    src: url(../fonts/Brushido.ttf);
}

@font-face {
    font-family: TextFont;
    src: url(../fonts/2MASS\ J1808-Normal\ \(personal\ use\).otf);
}

@font-face{
    font-family: JerseySharp;
    src: url(../fonts/Jersey\ Sharp.ttf);
}



/* NavBar */
.navTitle{
    font-family: OldJapanese;
    color:#fe0000 !important;
    font-size: xx-large;
}

.nav-link{
    font-family: Japanese2020;
    color:#fe0000 !important;
    font-size: large;
}

.navbar {
    background-color: black;
}

.top-nav-collapse {
    background-color: black;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: black;
    }
}

html,
body,
.view {
  height: 100%;
}

/* Views */
.parallaxParent {
    height: 100vh;
    overflow: hidden;
}
.parallaxParent > * {
    height: 203%;
    position: relative;
    top: -127%;
    background-position-y: center;
    background-repeat: no-repeat;
}


.home-title {
    font-family: OldJapanese;   
}

.car-title{
    font-family: Brushido;
}

.car-content p{
    font-family: TextFont;
    color: white;
}


.car1-content{
    z-index: 1;
    height: 20%;
    margin-left: 5%;
}


.car2-content{
    z-index: 1;
    height: 30%;
    margin-left: 5%;
}
.car2-content p, .car2-content .car-title{
    color: black !important;
}

.car3-content{
    z-index: 1;
    height: 20%;
    margin-left: 5%;
}
.car3-content p, .car3-content .car-title{
    color: black !important;
}

.car4-content{
    z-index: 1;
    height: 30%;
    margin-left: 73%;
}
.car4-content p, .car4-content .car-title{
    color: black !important;
}



/*Cars*/
.body-car {
    background-color: #383838;
    background: url("../img/SVG/CarsDragon.svg") no-repeat center;
    background-size: 300px;
    background-color: #383838;
}

.mainTitle{
    font-family: Japanese2020;
    color: white;
    margin-top: 100px;
    margin-bottom: 30px;    
    text-align: center;
}

.mainTitle{
    vertical-align: text-top;
}

.card{
    background-color: #040404;
    height: 400px;
    z-index: 1;
    margin-bottom: 30px;
}

.card-title{
    font-family: JerseySharp;
    padding: auto;
    font-size: 30px;
    height: 84px;
    line-height: 84px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.cardimg{
    object-fit: cover;
    height: 325px;
    width: 100%;
}

.row-bottom{
    padding-bottom: 10px;
}

/*CarPage*/

.carBackground{
    background-color: #383838;
}

.carPageTitle{
    font-family: Japanese2020;
    color: white;
    margin-top: 150px;
    margin-bottom: 80px;    
    text-align: center;
}

.carPic{
    margin-top: 125px;
    width: 95%;
}

.information-col{
    background: linear-gradient(180deg, rgba(56,56,56,1) 0%, rgba(56,56,56,1) 46%, rgba(0,0,0,1) 100%);
}

.informations{
    margin-top:100px;
    font-family: TextFont;
    color: white;
}

.car-top{
    margin-bottom: 50px;
}

thead{
    border-top: 1px #383838 solid !important;
    border-bottom: 1px #383838 solid !important;
}

th{
    background-color:black;
    color: white;
    font-family: JerseySharp;
    width:30%;
    border-width: 0px !important;
}

td{
    font-family: TextFont;
    background-color:#4D4C4C;
    border-bottom:1px #383838 solid !important;
    color: white;
}

.table-title{
    font-size: 25px;
}

@media only screen and (max-width: 1000px) {
    .carPic{
        margin-top: 125px;
        width: 100%;
    }
    .carPageTitle{
        margin-top: 50px;
        margin-bottom: 40px;    
    }
    .informations{
        margin-top:50px;
    }
}