
@font-face {
    font-family: Japanese2020;
    src: url(../fonts/JAPANESE_2020.otf);
}

@font-face {
    font-family: OldJapanese;
    src: url(../fonts/Old\ Japanese.otf);
}

@font-face {
    font-family: Brushido;
    src: url(../fonts/Brushido.ttf);
}

@font-face {
    font-family: TextFont;
    src: url(../fonts/2MASS\ J1808-Normal\ \(personal\ use\).otf);
}

/* NavBar */
.navTitle{
    font-family: OldJapanese;
    color:#fe0000 !important;
    font-size: xx-large;
}

.nav-link{
    font-family: Japanese2020;
    color:#fe0000 !important;
    font-size: large;
}

.navbar {
    background-color: black;
}

.top-nav-collapse {
    background-color: black;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: black;
    }
}

html,
body,
header,
.view {
  height: 100%;
}

/* Views */
.home {
    background: url("../img/AWA-JDM-Wallpaper.png")no-repeat center center;
    background-size: cover ;

}

.home-car1 {
    background: url("../img/Cars/Top-20-JDM-Cars-Of-All-Time-AP-Garage-1970-Skyline-2000-GT-X.jpg")no-repeat center center;
    background-size: cover contain;
}

.car-content{
    z-index: 1;
    height: 65%;
    margin-left: 5%;
}

.car-content, p{
    font-family: TextFont;
    color: white;
}

.car-title{
    font-family: Brushido;
}

.home-title {
    font-family: OldJapanese;   
}


/*Cars*/
.viewCars {
    background: url("../img/SVG/CarsDragon.svg") no-repeat center;
    background-size: cover contain;
    background-color: #383838;
}

.titleCars{
    color: white;
}

.mainTitle{
    vertical-align: text-top;
}
